body {
    width: 25em;
    font-family: "Open Sans Light", sans-serif;
    font-size: 0.9em;
    font-weight: 300;
  }
  
  label {
    display: block;
    padding: 0.2em 0;
  }
  
  label:hover {
    background-color: #EAEFF2;
  }